#wildfireupload {
    opacity: 0;
    position: absolute; 
}
.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/walkingthrufire.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  margin: 287px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 40px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-weight: 400;
  }

  .u-section-1 .u-text-2 {
    color: rgb(255, 255, 255) !important;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 545px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.75rem;
  margin: 100px 387px 0 424px;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  margin: 20px 60px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 324px;
    margin-right: 287px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 214px;
    margin-right: 177px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 124px;
    margin-right: 87px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -14px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
    margin-left: 11px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    margin-bottom: 60px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 921px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-family: Anton;
  width: 500px;
  margin: 72px auto 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  width: 664px;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 0;
  height: auto;
  grid-auto-rows: 100%;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 9px));
  min-height: 553px;
  grid-gap: 12px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 240px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 240px;
  background-image: url("images/manav.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-3 .u-text-5 {
  font-style: italic;
  margin: 23px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 240px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 240px;
  background-image: url("images/pierre.png");
  background-position: 50% 50%;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-3 .u-text-8 {
  font-style: italic;
  margin: 23px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 240px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 240px;
  background-image: url("images/griffin.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-text-9 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-3 .u-text-11 {
  font-style: italic;
  margin: 23px 0 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  height: 240px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 240px;
  background-image: url("images/smriti.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-text-12 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-3 .u-text-14 {
  font-style: italic;
  margin: 23px 0 0;
}

.u-section-3 .u-text-15 {
  width: 273px;
  margin: 23px auto 60px;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-4 {
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 6px));
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-9 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-12 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    height: 160px;
    width: auto;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    height: 160px;
    width: auto;
    margin-left: initial;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    height: 160px;
    width: auto;
    margin-left: initial;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-4 {
    height: 160px;
    width: auto;
    margin-left: initial;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.875rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 556px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 456px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 227px;
  height: 227px;
  background-image: url("images/tara.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  margin: 41px 0 0;
}

.u-section-4 .u-text-2 {
  margin-left: 0;
  margin-right: 218px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 20px;
}

.u-section-4 .u-image-2 {
  min-height: 456px;
  background-image: url("images/g9f84b1c7c78a48e2ce0cc3de54efe2df371ef98e2310f109f2924934667af93dbc32911cc0feb984b37c3a9b50a63a4c2d6bc77bf975dec646844c2dc831c918_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 100;
  margin: 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 456px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  width: 227px;
  height: 227px;
  background-image: url("images/richard.jpeg");
  background-position: 50% 50%;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 41px 0 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px 0 0 224px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 376px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 151px;
  }

  .u-section-4 .u-image-2 {
    min-height: 376px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 376px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 157px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    width: 213px;
    height: 213px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 78px;
  }

  .u-section-4 .u-image-2 {
    min-height: 288px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    width: 213px;
    height: 213px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 84px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-4 .u-image-2 {
    min-height: 648px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    min-height: 408px;
  }

  .u-section-4 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
  }
}